<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-background-filetransfer" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BackgroundFileTransfer</name>
    <js-module name="BackgroundFileTransfer" src="www/BackgroundFileTransfer.js">
        <clobbers target="cordova.plugin.BackgroundFileTransfer" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BackgroundFileTransfer">
                <param name="android-package" value="cordova.plugin.BackgroundFileTransfer" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        </config-file>
        <source-file src="src/android/BackgroundFileTransfer.java" target-dir="src/cordova/plugin/BackgroundFileTransfer" />
        <source-file src="src/android/DownloadService.java" target-dir="src/cordova/plugin/BackgroundFileTransfer" />
        <source-file src="src/android/UploadService.java" target-dir="src/cordova/plugin/BackgroundFileTransfer" />
    </platform>
</plugin>